{% extends "basethree.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1 id="patientName"></h1>
<p id="patientInfo"></p>

<div class="container">
    <div class="comparison-grid">
        <!-- Left side: Front and Left images -->
        <div class="comparison-image">
            <img id="front_img_1" />
        </div>
        <div class="comparison-image">
            <img id="front_img_2" />
        </div>
        <div class="comparison-image">
            <img id="left_img_1" />
        </div>
        <div class="comparison-image">
            <img id="left_img_2" />
        </div>
        <!-- Right side: Back and Right images -->
        <div class="comparison-image">
            <img id="back_img_1" />
        </div>
        <div class="comparison-image">
            <img id="back_img_2" />
        </div>
        <div class="comparison-image">
            <img id="right_img_1" />
        </div>
        <div class="comparison-image">
            <img id="right_img_2" />
        </div>
    </div>
</div>

<style>
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        padding: 10px;
    }
    .comparison-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        gap: 10px;
        width: 100%;
    }
    .comparison-image {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #ccc;
        padding: 10px;
    }
    .comparison-image img {
        width: 100%;
        height: auto;
        max-height: 500px; /* Adjust max-height as needed */
        object-fit: contain;
    }
</style>

<!-- Embed the data into the HTML as a JSON object -->
<script id="patientData" type="application/json">{{ data|tojson|safe }}</script>
<script src="{{ url_for('static', filename='js/compareImages.js') }}"></script>
{% endblock %}
