{% extends "baseTwo.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1 id="patientName"></h1>

<div class="container">
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        const urlParams = new URLSearchParams(window.location.search);
        const patient = urlParams.get('patient');
        const data = {{ data|tojson|safe }};
        console.log("Patient data:", data);

        if (patient) {
            document.getElementById('patientName').textContent = patient;
        }

        // Process the data here
        // Loop through the data and set the content for each corresponding element
        data.forEach((item, index) => {
            document.getElementById(`front_img`).src = 'data:image/jpeg;base64,' + item.frontImage;
            document.getElementById(`back_img`).src = 'data:image/jpeg;base64,' + item.backImage;
            document.getElementById(`left_img`).src = 'data:image/jpeg;base64,' + item.leftImage;
            document.getElementById(`right_img`).src = 'data:image/jpeg;base64,' + item.rightImage;
        });
    });
</script>

<style>
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        padding: 10px;
    }
    .item {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    .image-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
    .image-upload {
        flex: 1 0 48%; /* Each image takes approximately half of the available width */
        box-sizing: border-box;
        margin-bottom: 10px;
    }
    img {
        width: 100%;
        height: auto;
        object-fit: contain; /* Maintain aspect ratio */
    }
</style>
{% endblock %}

