{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div>
  <h1>Select Patient</h1>
</div>
<div>
  <a href="/enterNewPatient" class="btn">ADD NEW PATIENT</a>
</div>
<div class="select-container">
  <label for="patientList">Choose a Patient:</label>
  <select name="patientList" id="patientList">
    {% for patient in patientList %}
      <option value="{{ patient }}">{{ patient }}</option>
    {% endfor %}
  </select>
  <button id="usePatient" onclick="redirect()">Select Patient</button>
</div>

    <script src="{{ url_for('static', filename='js/findPatient.js') }}"></script>
{% endblock %}
