{% extends "base.html" %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
<h1>Forgot Password</h1>
<div class="forgot-password-wrap">
  <div class="form">
    <p>Enter your email address to receive a link to reset your password.</p>
    <input type="email" id="email" placeholder="Email" name="email" required />
    <button id="reset-password">Send Reset Link</button>
  </div>
</div>
<script src="{{ url_for('static', filename='js/forgot_password.js') }}"></script>
{% endblock %}
