{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="wrapper text-center">
    <h1>Posture therapy software</h1>

</div>

<div class="container mt-4">
    <div class="row align-items-center">
        <div class="col-md-6 text-md-left text-center">
            <div class="wrapper">
                <h3>Key Features</h3>
            </div>
            <ul class="text-left mx-auto" style="max-width: 100%;">
                <li>Easily upload client images</li>
                <li>Intuitive posture alignment tools</li>
                <li>Secure image storage and comparison</li>
            </ul>
        </div>
        <div class="col-md-6 text-center">
            <img src="/static/css/clipart.jpg" alt="Posture Therapy Software" class="img-fluid my-4" style="max-width: 100%;">
        </div>
    </div>
</div>







    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}

