{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Login</h1>
<div class="login-wrap">
  <h2>Login</h2>

  <div class="form">
    <input type="text" id="un" placeholder="email" name="un" />
    <input type="password" id="pw" placeholder="Password" name="pw" />
    <button id="sign-in">Sign in</button>
    <a href="/signUp"> <p>Don't have an account? Register</p></a>
  </div>
</div>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}
