{% extends "baseTwo.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1 id="patientName"></h1>
<p id="patientInfo"></p>

<button id="usePatient" onclick="redirect()">Save</button>

{% for object in data %}
<div class="container">
    <div class="image-grid">
        <div class="image-upload" id="front_{{ loop.index0 }}">
            <img id="front_img_{{ loop.index0 }}" />
        </div>
        <div class="image-upload" id="back_{{ loop.index0 }}">
            <img id="back_img_{{ loop.index0 }}" />
        </div>
        <div class="image-upload" id="left_{{ loop.index0 }}">
            <img id="left_img_{{ loop.index0 }}" />
        </div>
        <div class="image-upload" id="right_{{ loop.index0 }}">
            <img id="right_img_{{ loop.index0 }}" />
        </div>
    </div>
    <input type="checkbox" class="inp" id="id_{{ loop.index0 }}" value="{{ object.id }}">
    <label for="id_{{ loop.index0 }}"> {{ object.date }}</label><br>
</div>
{% endfor %}

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        const urlParams = new URLSearchParams(window.location.search);
        const patient = urlParams.get('data');

        if (patient) {
            document.getElementById('patientName').textContent = patient;
            document.getElementById('patientInfo').textContent = patient;
        }

        // Embed the data directly into the script
        const data = {{ data|tojson|safe }};
        console.log("Patient data:", data);

        // Process the data here
        // Loop through the data and set the content for each corresponding element
        data.forEach((item, index) => {
            document.getElementById(`front_img_${index}`).src = 'data:image/jpeg;base64,' + item.frontImage;
            document.getElementById(`back_img_${index}`).src = 'data:image/jpeg;base64,' + item.backImage;
            document.getElementById(`left_img_${index}`).src = 'data:image/jpeg;base64,' + item.leftImage;
            document.getElementById(`right_img_${index}`).src = 'data:image/jpeg;base64,' + item.rightImage;
        });

        $('input[type=checkbox]').on('change', function (e) {
            if ($('input[type=checkbox]:checked').length > 2) {
                $(this).prop('checked', false);
                alert("allowed only 2");
            }
        });
    });

    function redirect() {
        const dates = [...document.querySelectorAll('.inp:checked')].map(e => e.value);
        if (dates.length < 2) {
            alert("Please select exactly two dates.");
            return;
        }

        const patient = document.getElementById('patientName').textContent;

        // Redirect to another page with the selected value as a query parameter
        window.location.href = `/compareImages?date1=${encodeURIComponent(dates[0])}&date2=${encodeURIComponent(dates[1])}&patient=${encodeURIComponent(patient)}`;
    }
</script>

<style>
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        padding: 10px;
    }
    .item {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    .image-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
    .image-upload {
        flex: 1 0 48%; /* Each image takes approximately half of the available width */
        box-sizing: border-box;
        margin-bottom: 10px;
    }
    img {
        width: 100%;
        height: auto;
        object-fit: contain; /* Maintain aspect ratio */
    }
</style>
{% endblock %}


