{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<h1>Sign Up</h1>
<div class="signin-wrap">
  <form class="form" id="sign-up-form">
    <input type="text" id="un" placeholder="Name" name="un" required />
    <input type="email" id="email" placeholder="Email" name="email" required />
    <input type="password" id="pw" placeholder="Password" name="pw" required />
    <button type="button" id="sign-in">Sign In</button>
    <a href="/login"><p>Have an account? Sign in</p></a>
  </form>
  <p id="userTaken"></p>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#sign-in").on("click", function(event) {
            event.preventDefault(); // Prevent default button behavior
            const name = document.getElementById('un').value;
            const password = document.getElementById('pw').value;
            const email = document.getElementById('email').value;

            // Client-side validation
            if (password.length < 8) {
                document.getElementById('userTaken').innerText = 'Password must be at least 8 characters long';
                return;
            }

            const emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
            if (!emailPattern.test(email)) {
                document.getElementById('userTaken').innerText = 'Please enter a valid email address';
                return;
            }

            $.ajax({
                type: "POST",
                url: "/createUser",
                data: JSON.stringify({ name: name, password: password, email: email }),
                contentType: "application/json",
                success: function(response) {
                    console.log(response);
                    window.location.href = "/login";
                },
                error: function(error) {
                    console.error("Error:", error);
                    document.getElementById('userTaken').innerText = 'Username taken';
                }
            });
        });
    });
</script>
{% endblock %}
