{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>sign up</h1>
<div class="signin-wrap">


  <div class="form">
    <input type="text" id="un" placeholder="Username" name="un" />
    <input type="password" id="pw" placeholder="Password" name="pw" />
    <button id="sign-in">Sign in</button>
    <a href="/login"> <p>Have an account? sign in</p></a>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#sign-in").on("click", function(event) {
            event.preventDefault(); // Prevent default form submission behavior
            const username = document.getElementById('un').value;
            const password = document.getElementById('pw').value;
            $.ajax({
                type: "POST",
                url: "/createUser",
                data: JSON.stringify({ username: username, password: password }),
                contentType: "application/json",
                success: function(response) {
                    console.log(response);
                },
                error: function(error) {
                    console.error("Error:", error);
                }
            });
        });
    });
</script>
{% endblock %}
