<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        .inputoutput {
            border: 2px solid black;
            margin: 10px;
            padding: 10px;
            display: inline-block;
            text-align: center;
        }
        .caption {
            margin-top: 10px;
        }
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .clickable {
            cursor: crosshair;
        }
    </style>
</head>
<body>
    <h2>Hello</h2>
    <div class="container">
        <div class="inputoutput">
            <img id="imageSrcFront" alt="No Image" style="width: 600px; height: 600px;" />
            <div class="caption">Front <input type="file" id="fileInputFront" name="fileInputFront" /></div>
            <button id="addLinesFront" type="button" class="button">Add lines</button>
        </div>
        <div class="inputoutput">
            <img id="imageSrcBack" alt="No Image" style="width: 600px; height: 600px;" />
            <div class="caption">Back <input type="file" id="fileInputBack" name="fileInputBack" /></div>
        </div>
        <div class="inputoutput">
            <img id="imageSrcLeft" alt="No Image" style="width: 600px; height: 600px;" />
            <div class="caption">Left <input type="file" id="fileInputLeft" name="fileInputLeft" /></div>
        </div>
        <div class="inputoutput">
            <img id="imageSrcRight" alt="No Image" style="width: 600px; height: 600px;" />
            <div class="caption">Right <input type="file" id="fileInputRight" name="fileInputRight" /></div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            let modeFront = false;

            function toggleFront() {
                modeFront = !modeFront;
                if (modeFront) {
                    $("#imageSrcFront").addClass("clickable");
                } else {
                    $("#imageSrcFront").removeClass("clickable");
                }
            }

            $("#addLinesFront").click(function() {
                toggleFront();
            });

            function handleFileSelect(event, imgElementId) {
                const file = event.target.files[0];
                if (file) {
                    const fileType = file.type;
                    if (/^image\//.test(fileType)) {
                        document.getElementById(imgElementId).src = URL.createObjectURL(file);
                    } else {
                        console.error("Unsupported file type. Only images are supported.");
                    }
                } else {
                    console.error("No file selected or file input is not supported.");
                }
            }

            $("#fileInputFront").on("change", function(event) {
                handleFileSelect(event, "imageSrcFront");
                var file = event.target.files[0];
                var reader = new FileReader();

                reader.onload = function(event) {
                    var imgData = event.target.result;

                    $.ajax({
                        type: "POST",
                        url: "/uploadFront",
                        data: JSON.stringify({ imgFront: imgData }),
                        contentType: "application/json",
                        success: function(response) {
                            console.log(response);
                        },
                        error: function(error) {
                            console.error("Error:", error);
                        }
                    });
                };

                reader.readAsDataURL(file);
            });

            $("#imageSrcFront").on("click", function(event) {
                if (modeFront) {
                    var xFront = event.offsetX;
                    var yFront = event.offsetY;

                    $.ajax({
                        type: "POST",
                        url: "/get_coordinatesFront",
                        data: JSON.stringify({ xFront: xFront, yFront: yFront }),
                        contentType: "application/json",
                        success: function(response) {
                            console.log(response);
                            if (response.image) {
                                $("#imageSrcFront").attr("src", "data:image/png;base64," + response.image);
                            }
                        },
                        error: function(error) {
                            console.error("Error:", error);
                        }
                    });
                }
            });

            $("#fileInputBack").on("change", function(event) {
                handleFileSelect(event, "imageSrcBack");
            });

            $("#fileInputLeft").on("change", function(event) {
                handleFileSelect(event, "imageSrcLeft");
            });

            $("#fileInputRight").on("change", function(event) {
                handleFileSelect(event, "imageSrcRight");
            });
        });
    </script>
</body>
</html>



