<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Images</title>
    <style>
        .inputoutput {
            border: 2px solid black;
            margin: 10px;
            padding: 10px;
            text-align: center;
            box-sizing: border-box;
            width: calc(49% - 20px); /* About half of the screen width minus margin */
        }
        .caption {
            margin-top: 10px;
        }
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .clickable {
            cursor: crosshair;
        }
        img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    </style>
</head>
<body>
    <h2>Hello</h2>
    <div class="container">
        <div class="inputoutput">
            <img id="imageSrcFront" alt="No Image" />
            <div class="caption">Front <input type="file" id="fileInputFront" name="fileInputFront" /></div>
            <button id="addLinesFront" type="button" class="button">Add lines</button>
        </div>
        <div class="inputoutput">
            <img id="imageSrcBack" alt="No Image" />
            <div class="caption">Back <input type="file" id="fileInputBack" name="fileInputBack" /></div>
            <button id="addLinesBack" type="button" class="button">Add lines</button>
        </div>
        <div class="inputoutput">
            <img id="imageSrcLeft" alt="No Image" />
            <div class="caption">Left <input type="file" id="fileInputLeft" name="fileInputLeft" /></div>
            <button id="addLinesLeft" type="button" class="button">Add lines</button>
        </div>
        <div class="inputoutput">
            <img id="imageSrcRight" alt="No Image" />
            <div class="caption">Right <input type="file" id="fileInputRight" name="fileInputRight" /></div>
            <button id="addLinesRight" type="button" class="button">Add lines</button>
        </div>
        <button id="saveImages" type="button" class="button">Save</button>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            let modes = {
                Front: false,
                Back: false,
                Left: false,
                Right: false
            };

            function toggleMode(side) {
                modes[side] = !modes[side];
                if (modes[side]) {
                    $("#imageSrc" + side).addClass("clickable");
                } else {
                    $("#imageSrc" + side).removeClass("clickable");
                }
            }

            function handleFileSelect(event, imgElementId, side) {
                const file = event.target.files[0];
                if (file) {
                    const fileType = file.type;
                    if (/^image\//.test(fileType)) {
                        const imgElement = document.getElementById(imgElementId);
                        imgElement.src = URL.createObjectURL(file);

                        // Create a new Image object to get the dimensions
                        const img = new Image();
                        img.src = imgElement.src;
                        img.onload = function() {
                            const width = img.naturalWidth;
                            const height = img.naturalHeight;
                            console.log(side + " image dimensions: ", width, height);

                            imgElement.addEventListener("click", function(event) {
                                if (modes[side]) {
                                    const rect = imgElement.getBoundingClientRect();
                                    const x = event.clientX - rect.left; // Coordinates relative to the image
                                    const y = event.clientY - rect.top;  // Coordinates relative to the image
                                    console.log("Client-side coordinates:", x, y, "Image dimensions:", rect.width, rect.height);
                                    $.ajax({
                                        type: "POST",
                                        url: "/get_coordinates" + side,
                                        data: JSON.stringify({ ["x" + side]: x, ["y" + side]: y, width: rect.width, height: rect.height }),
                                        contentType: "application/json",
                                        success: function(response) {
                                            console.log(response);
                                            if (response.image) {
                                                $("#imageSrc" + side).attr("src", "data:image/png;base64," + response.image);
                                            }
                                        },
                                        error: function(error) {
                                            console.error("Error:", error);
                                        }
                                    });
                                }
                            });
                        };
                    } else {
                        console.error("Unsupported file type. Only images are supported.");
                    }
                } else {
                    console.error("No file selected or file input is not supported.");
                }

                const reader = new FileReader();
                reader.onload = function(event) {
                    const imgData = event.target.result;
                    $.ajax({
                        type: "POST",
                        url: "/upload" + side,
                        data: JSON.stringify({ ["img" + side]: imgData }),
                        contentType: "application/json",
                        success: function(response) {
                            console.log(response);
                        },
                        error: function(error) {
                            console.error("Error:", error);
                        }
                    });
                };
                reader.readAsDataURL(file);
            }

            ["Front", "Back", "Left", "Right"].forEach(function(side) {
                $("#addLines" + side).click(function() {
                    toggleMode(side);
                });

                $("#fileInput" + side).on("change", function(event) {
                    handleFileSelect(event, "imageSrc" + side, side);
                });
            });
        });
    </script>

    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("saveImages").addEventListener("click", function(event) {
                event.preventDefault(); // Prevent default form submission behavior

                const urlParams = new URLSearchParams(window.location.search);
                const patientData = urlParams.get('data');

                fetch("/saveImages", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ patientData: patientData })
                })
                .then(response => {
                    if (response.ok) {
                        window.location.href = `/patientHome?data=${patientData}`;
                    } else {
                        return response.json().then(data => {
                            throw new Error(data.error);
                        });
                    }
                })
                .catch(error => {
                    console.error("Error:", error);
                    alert("Save failed: " + error.message); // Show error message
                });
            });
        });
    </script>

</body>
</html>



